body {
    font-family: sans-serif;
    margin: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app,
input {
    font-size: 16px;
}

#app > div > div {
    max-width: 900px;
    width: 100%;
}

#app > div > div + .section-container {
    margin-top: 20px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    border: 1px solid purple;
    border-radius: 2px;
    width: 33%;
    height: min-content;
    max-width: 280px;
}

.section + .section {
    margin-left: 20px;
}

.section-label {
    background-color: purple;
    color: white;
    padding: 5px 10px;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bean {
    padding: 10px 5px;
}

.section ul li + li {
    border-top: 1px solid purple;
}

.section-label span {
    word-break: break-all;
    hyphens: auto;
}

button:focus,
input:focus {
    outline: none;
}

.input-container button {
    border: 2px solid purple;
    font-size: 16px;
    color: purple;
    background-color: transparent;
    padding: 5px 10px;
}

.welcome-container * + * {
    margin-top: 15px;
}

.game-container input {
    margin-bottom: 15px;
}

.input-container input {
    border: none;
    border-bottom: 1px solid purple;
    min-width: 180px;
    max-width: 280px;
    width: 60%;
    margin-right: 20px;
}

.bean:hover,
button:hover {
    background-color: rgb(230,230,250);
    cursor: pointer;
}
