body {
    font-family: sans-serif;
    margin: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app,
input {
    font-size: 16px;
}

#app > div > div {
    max-width: 900px;
    width: 100%;
}

#app > div > div + .section-container {
    margin-top: 20px;
}
/* layout */

.section-container {
    display: flex;
    flex-direction: column;
}

.section {
    border: 1px solid purple;
    border-radius: 2px;
    height: min-content;
}

.section + .section {
    margin-top: 15px;
}

@media (min-width: 30em) {
    .section-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .section {
        width: 33%;
        max-width: 280px;
    }

    .section + .section {
        margin-top: 0;
        margin-left: 20px;
    }
}

.section-label {
    background-color: purple;
    color: white;
    padding: 5px 10px;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bean {
    padding: 10px;
}

.section ul li + li {
    border-top: 1px solid purple;
}

.section-label span {
    word-break: break-all;
    hyphens: auto;
}

button:focus,
input:focus {
    outline: none;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container button {
    border: 2px solid purple;
    font-size: 16px;
    color: purple;
    background-color: transparent;
    padding: 5px 10px;
}

.welcome-container > * + * {
    margin-top: 15px;
}

.input-container input {
    border: none;
    border-bottom: 1px solid purple;
    margin-bottom: 20px;
    min-width: 150px;
}

@media (min-width: 30em) {
    .input-container {
        width: auto;
        display: block;
    }

    .input-container input {
        width: 60%;
        max-width: 280px;
        margin-right: 20px;
    }
}

button:hover {
    background-color: rgb(230,230,250);
    cursor: pointer;
}

.section-hover {
    background-color: rgb(230,230,250);
    cursor: pointer;
}

.section-hover .section-label {
    cursor: pointer;
    color: rgb(230,230,250);
}

.bean-hover {
    background-color: rgb(230,230,250);
    cursor: pointer;
}
